*{
    margin: 0px;
    padding: 0px;
    box-sizing:  border-box;
}

$mainBlack: #222;
$mainGreen: #82b340;
$mainGray: #ececec;
$mainWhite: #fff;

body{
    background: $mainWhite;
    color: $mainBlack;
    font-family: 'Open Sans', sans-serif;
}